<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<body>
<div id="page" layout:fragment="content">
	<div style="float:left;width:25%">
		<sidebar th:replace="fragments/sidebar :: sidebar"></sidebar>
	</div>
	<div style="float:left;width:75%">
		<h3 class="col-md-6" style="text-align:center">Insert into products</h3>
		<div>
			<form class="form-horizontal" th:object="${product}" th:action="@{/product}" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label class="col-md-6">Product Name</label>
					<div class="col-md-6">
						<input type="text" class="form-control" th:field="*{productName}" placeholder="Enter product name">
					</div>

				</div>
				<div class="form-group">
					<label class="col-md-6">Product Description</label>
					<div class="col-md-6">
						<input type="text" class="form-control" th:field="*{description}" placeholder="Enter product description">
					</div>

				</div>
				<div class="form-group">
					<label class="col-md-6">Product Price</label>
					<div class="col-md-6">
						<input type="number" class="form-control" th:field="*{price}" placeholder="Enter product price">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-6">Product Image</label>
					<div class="col-md-6">
						<input type="file" th:field="*{imageUrl}">
					</div>
				</div>
				<div th:if="${message}" th:class="${'form-group alert alert-dismissible fade show ' + alertClass}">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong th:if="${message}" th:text="${message}"></strong>
				</div>
				<div class="col-md-6">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>