<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<body>
<div id="page" layout:fragment="content">
	<div style="float:left;width:25%">
		<sidebar th:replace="fragments/sidebar :: sidebar"></sidebar>
	</div>
	<div style="float:left;width:75%">
		<h3 class="col-md-6" style="text-align:center">Insert into products</h3>
		<div>
			<form class="form-horizontal" th:object="${product}" th:action="@{/product}" method="post" enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}"/>
				<div class="form-group">
					<label class="col-md-6">Product Name</label>
					<div class="col-md-6">
						<input type="text" class="form-control" th:field="*{productName}" placeholder="Enter product name">
					</div>
				</div>
				<div class="form-group dropdown">
					<label class="col-md-6">Product Category</label>
					<div class="col-md-6">
						<select class="form-control" th:field="*{productCat}">
							<option th:each="category : ${categoryList}" th:value="${category.id}" th:text = "${category.categoryName}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-6">Product Description</label>
					<div class="col-md-6">
						<input type="text" class="form-control" th:field="*{description}" placeholder="Enter product description">
					</div>

				</div>
				<div class="form-group">
					<label class="col-md-6">Product Price(Rs.)</label>
					<div class="col-md-6">
						<input type="number" class="form-control" th:field="*{price}" placeholder="Enter product price">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-6">Product Quantity</label>
					<div class="col-md-6">
						<input type="text" class="form-control" th:field="*{productQuantity}" placeholder="Enter product quantity">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-6">Product Image</label>
					<div class="col-md-6">
						<input type="file" th:field="*{imageUrl}" onchange="compress()">
					</div>
				</div>
				<div th:if="${message}" th:class="${'form-group alert alert-dismissible fade show ' + alertClass}">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong th:if="${message}" th:text="${message}"></strong>
				</div>
				<div class="col-md-6">
					<button id="insertProd" type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	function compress(source_img_obj, quality, maxWidth, output_format){
		console.log("hello");

		var mime_type = "image/jpeg";
		if(typeof output_format !== "undefined" && output_format=="png"){
			mime_type = "image/png";
		}

		maxWidth = maxWidth || 1000;
		var natW = source_img_obj.naturalWidth;
		var natH = source_img_obj.naturalHeight;
		var ratio = natH / natW;
		if (natW > maxWidth) {
			natW = maxWidth;
			natH = ratio * maxWidth;
		}

		var cvs = document.createElement('canvas');
		cvs.width = natW;
		cvs.height = natH;

		var ctx = cvs.getContext("2d").drawImage(source_img_obj, 0, 0, natW, natH);
		var newImageData = cvs.toDataURL(mime_type, quality/100);
		var result_image_obj = new Image();
		result_image_obj.src = newImageData;
		return result_image_obj;
	}
</script>
</body>
</html>