<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<body>
<div id="page" layout:fragment="content">
	<div style="float:left;width:25%">
		<sidebar th:replace="fragments/sidebar :: sidebar"></sidebar>
	</div>
	<div style="float:left;width:75%">
	<div th:if="${not #lists.isEmpty(productList)}">
		<h2>Product List</h2>
		<table class="table table-striped">
			<tr>
				<th>S.N</th>
				<th>Product Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Image</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr th:each="product,iterator : ${productList}">
				<td th:text="${iterator.index+1}"></td>
				<td th:text="${product.productName}"></td>
				<td th:text="${product.description}"></td>
				<td th:text="${product.price}"></td>
				<td><img th:src="${'/images/'+product.imageName}" style="width:150px;height:100px"></td>
				<td><a th:href="${'/product/edit/' + product.id}">Edit</a></td>
				<td><a th:href="${'/product/delete/' + product.id}">Delete</a></td>
			</tr>
		</table>
		<div th:if="${message}" th:class="${'form-group alert alert-dismissible fade show ' + alertClass}">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong th:if="${message}" th:text="${message}"></strong>
		</div>
	</div>
	</div>
</div>
</body>
</html>