<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<body>
<div id="page" layout:fragment="content">
	<div style="float:left;width:25%">
		<sidebar th:replace="fragments/sidebar :: sidebar"></sidebar>
	</div>
	<div style="float:left;width:75%">
	<div th:if="${not #lists.isEmpty(productList)}">
		<h2>Product List</h2>
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Product Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Image</th>
				<th>View</th>
				<th>Edit</th>
			</tr>
			<tr th:each="product : ${productList}">
				<td th:text="${product.id}"><a href="/product/${product.id}">Id</a></td>
				<td th:text="${product.productName}">Product Name</td>
				<td th:text="${product.description}">Description</td>
				<td th:text="${product.price}">Price</td>
				<td><img th:src="${'/images/'+product.imageName}" style="width:75%;height:50%"></td>
				<td><a th:href="${ '/product/' + product.id}">View</a></td>
				<td><a th:href="${'/product/edit/' + product.id}">Edit</a></td>
			</tr>
		</table>
	</div>
	</div>
</div>
</body>
</html>