<sidebar th:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml" class="sidebar">
	<div class="container">
		<ul class="list-group">
			<li class="list-group-item"><a href="/product/new" th:href="@{'/product/new'}">Insert Product</a></li>
			<li class="list-group-item"><a href="/product/show" th:href="@{'/product/show'}">Show Products</a></li>
			<li class="list-group-item"><a href="/category/new" th:href="@{'/category/new'}">Insert Category</a></li>
			<li class="list-group-item"><a href="/category/show" th:href="@{'/category/show'}">Show Category</a></li>
			<li class="list-group-item"><a href="/category/show" th:href="@{'/user/show'}">Show Users</a></li>
		</ul>
	</div>
</sidebar>