<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<body>
<div id="page" layout:fragment="content">
	<div style="float:left;width:25%">
		<sidebar th:replace="fragments/sidebar :: sidebar"></sidebar>
	</div>
	<div style="float:left;width:75%">
		<div th:if="${not #lists.isEmpty(userList)}">
			<h2>User List</h2>
			<table class="table table-striped">
				<tr>
					<th>S.N</th>
					<th>Username</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Role</th>
				</tr>
				<tr th:each="user,iterator : ${userList}">
					<td th:text="${iterator.index+1}"></td>
					<td th:text="${user.username}"></td>
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.lastName}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.roles.getRoleName()}"></td>
				</tr>
			</table>
			<div th:if="${message}" th:class="${'form-group alert alert-dismissible fade show ' + alertClass}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong th:if="${message}" th:text="${message}"></strong>
			</div>
		</div>
	</div>
</div>
</body>
</html>