.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color:#f0ad4e;
}

body .bodyContainer {
    margin-top:55px;
    margin-left:5px;
    margin-right:5px;
    width:auto;
    overflow: hidden;
}