<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<body>
<div id="page" layout:fragment="content">
	<div style="float:left;width:25%">
		<sidebar th:replace="fragments/sidebar :: sidebar"></sidebar>
	</div>
	<div style="float:left;width:75%">
		<div th:if="${not #lists.isEmpty(categoryList)}">
			<h2>Category List</h2>
			<table class="table table-striped">
				<tr>
					<th>S.N</th>
					<th>Category Name</th>
					<th>Category Description</th>
					<th>Action</th>
				</tr>
				<tr th:each="category,iterator : ${categoryList}">
					<td th:text="${iterator.index+1}"></td>
					<td th:text="${category.categoryName}"></td>
					<td th:text="${category.categoryDesc}"></td>
					<th scope="row"><a th:href="${'/category/edit/' + category.id}"><i class="far fa-edit"></i></a> &nbsp;&nbsp;&nbsp;<a th:href="${'/category/delete/' + category.id}"><i class="fas fa-trash"></i></a></th>
				</tr>
			</table>
			<div th:if="${message}" th:class="${'form-group alert alert-dismissible fade show ' + alertClass}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong th:if="${message}" th:text="${message}"></strong>
			</div>
		</div>
	</div>
</div>
</body>
</html>