<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<body>
<div id="page" layout:fragment="content">
	<div style="float:left;width:70%;background-color:#3F729B">
		<div>
			<img src="../static/images/grocery.jpg" th:src="${'images/grocery.jpg'}" style="width:900px;height:400px">
		</div>
		<p class="justify-text">Online mart is one of the shopping store,located at the center of Pokhara city. It was established on 2017 and providing the better quality of service. After its establishment it grown up its business and make helpful to the  customer. All types of grocery items, food items, vegetable items, fruits and drinks item are available here. The customer can buy their goods in cheap and easiest way. We are here for you a good service.</p>
		<h5>Thanks for your visit!</h5>
	</div>
	<div style="float:right;width:30%;background-color:#4fc3f7">

	</div>
</div>
</body>
</html>