<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<body>
<div id="page" layout:fragment="content">
	<div class="text-justify">
		<h1>Welcome To Online Mart</h1>
	</div>
	<div class="card-group">
		<div class="card">
			<img height="150" class="card-img-top" alt="" th:src="@{images/nature.jpg}">
			<div class="card-body">
				<h5 class="text-justify">Card title</h5>
				<p class="text-justify">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				<p class="text-justify"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		</div>
		<div class="card">
			<img height="150" class="card-img-top" alt="" th:src="@{upload/earth.jpg}">
			<div class="card-body">
				<h5 class="text-justify">Card title</h5>
				<p class="text-justify">This card has supporting text below as a natural lead-in to additional content.</p>
				<p class="text-justify"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		</div>
		<div class="card">
			<img height="150" class="card-img-top" alt="" th:src="@{upload/mountain.jpg}">
			<div class="card-body">
				<h5 class="text-justify">Card title</h5>
				<p class="text-justify">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				<p class="text-justify"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		</div>
		<div class="card">
			<img height="150" class="card-img-top" alt="" th:src="@{upload/mountain.jpg}">
			<div class="card-body">
				<h5 class="text-justify">Card title</h5>
				<p class="text-justify">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				<p class="text-justify"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		</div>
	</div>
</div>
</body>
</html>