<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<body>
<div id="page" layout:fragment="content">
	<div class="row">
		<div class="col-md-3" th:each="product : ${productList}" >
			<div class="card h-100" style="width:18rem;" >
				<img th:src="${'/images/'+product.imageName}" style="width:auto;height:150px">
				<div class="card-body">
					<ul class="list-inline">
						<li class="list-inline-item">
							Name:<h6 th:text="${product.productName}"></h6>
						</li>
						<li class="list-inline-item">
							Price:<h6 th:text="${product.price}"></h6>
						</li>
					</ul>
					Description:<p th:text="${product.description}" class="text-justify"></p>
					<a href="#" class="btn btn-primary">Add To Cart</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>