<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<body>
<div id="page" layout:fragment="content">
	<div class="row">
		<div class="col-md-2 mb-2" th:each="product : ${productList}" >
			<div class="card h-80" style="width:14rem;" >
				<img th:src="${'/images/'+product.imageName}" style="width:auto;height:150px">
				<div class="card-body">
					<ul class="list-inline">
                        <h6>
                            <span th:text="${product.productName}"></span>
                        </h6>
                        <a th:href="${'/cart/' + product.id}"><i class="fas fa-cart-plus"></i></a>
                        <h6>
                            Price:<span th:text="${product.price}"></span>
                        </h6>
					</ul>
                    <h6>
					    Description:<p th:text="${product.description}"></p>
                    </h6>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>