<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">

<body>
<div id="page" layout:fragment="content">
	<h3>Register your account here</h3>
	<div class="offset-1">
		<form th:action="@{/register}" th:object="${user}" method="post">
			<div class="form-group row">
				<label class="col-md-2">User Name</label>
				<div class="col-md-5">
					<input type="text" class="form-control" th:field="*{username}" placeholder="Enter your username">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-md-2">First Name</label>
				<div class="col-md-5">
					<input type="text" class="form-control" th:field="*{firstName}" placeholder="Enter your first name">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-md-2">Last Name</label>
				<div class="col-md-5">
					<input type="text" class="form-control" th:field="*{lastName}" placeholder="Enter your last name">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-md-2">Email</label>
				<div class="col-md-5">
					<input type="email" class="form-control" th:field="*{email}" placeholder="Enter your email">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2">Password</label>
				<div class="col-md-5">
					<input type="password" class="form-control" th:field="*{password}" placeholder="Enter your password">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2">Confirm Password</label>
				<div class="col-md-5">
					<input type="password" class="form-control" th:field="*{passwordConf}" placeholder="Confirm your password">
				</div>
			</div>

			<div th:if="${message}" th:class="${'form-group alert alert-dismissible fade show ' + alertClass}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong th:if="${message}" th:text="${message}"></strong>
			</div>
			<div class="form-group row">
				<label class="col-md-2"></label>
				<div class="col-md-5">
					<button type="submit" class="btn btn-primary">Sign Up</button>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>